<!DOCTYPE html>
<html lang="en">
<head>
    <title>C&C Server</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='CSS/bots.css') }}">
    <script src="{{ url_for('static', filename='JS/bots.js') }}"></script>
</head>
<body>

    <div class="header">
        <div class="execute-all">
          <input type="text" id="execute-all-input" placeholder="Execute command on all zombies">
          <button id="execute-all-btn" class="execute-btn">Execute</button>
        </div>
        <div class="user-actions">
            <span class="welcome-text">Welcome {{ current_user.username }}</span>
            <form action="{{ url_for('auth.logout') }}" method="POST">
                <button type="submit" class="logout-btn">Logout</button>
            </form>    
        </div>
      </div>

    <div class="title">
        <h1>C&C Server</h1>
    </div>

    <table class="computer-list">
        <thead>
            <tr>
            <th>PC Name</th>
            <th>Private IP</th>
            <th>Public IP</th>
            <th>Username</th>
            <th>Operative System</th>
            <th>Remote Command Execution</th>
            <th>Delete Zombie</th>
            <th>Toggle Output</th>
            </tr>
        </thead>
        <tbody>
            {% for bot in bots %}
            <tr>
                <td>{{ bot['details']['pc_name'] }}</td>
                <td>{{ bot['details']['private_ip'] }}</td>
                <td>{{ bot['details']['public_ip'] }}</td>
                <td>{{ bot['details']['username'] }}</td>
                <td>{{ bot['details']['os'] }}</td>
                <td>
                    <input type="text" id="input-command-{{ bot['thread_uuid'] }}" placeholder="Command">
                    <button class="send-btn" data-thread-uuid="{{ bot['thread_uuid'] }}">Send</button>
                </td>
                <td>
                    <button data-thread-uuid="{{ bot['thread_uuid'] }}" class="delete-btn">Delete</button>
                </td>
                <td>
                    <button class="toggle-output" data-thread-uuid="{{ bot['thread_uuid'] }}">↓</button>
                </td>
            </tr>
            <tr class="output-row" id="output-row-{{ bot['thread_uuid'] }}" style="display: none;">
                <td colspan="8">
                    <div class="output-field" id="output-field-{{ bot['thread_uuid'] }}">
                        <pre>
                            {{ bot['last_output'] }}
                        </pre>
                    </div>
                </td>
            </tr>              
            {% endfor %}
        </tbody>
    </table>

</body>
</html>