<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Login Page</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='CSS/login.css') }}">
</head>

<body>

    <div class="login-container">
        <div class="login-header">
            <h2>Login</h2>
        </div>
        <div class="login-form">
            <h3>Welcome!</h3>
            <form action="/api/login" method="POST">
                <div class="input-group">
                    <label for="username">Username</label>
                    <input type="text" id="username" name="username" required>
                </div>
                <div class="input-group">
                    <label for="password">Password</label>
                    <input type="password" id="password" name="password" required>
                </div>
                <button type="submit" class="login-button">LOGIN</button>
            </form>
            <a href="/register" class="register-button">REGISTER</a>
        </div>
    </div>

</body>

</html>